
h1 {
	text-align: center;
} 

h2 {
	color: white;
	text-align: center; 
}

img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border: black 5px;
}

#formButton {
	width: 250px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
}

.devourButton {
	font-size: 25px
	width: 30px;
}

#eatDiv {
	background-color: gray;
	padding: 20px;
}

#devouredDiv {
	background-color:
	padding: 20px;
	line-height: 400%;
}